:root {
  --item-size: 50px;
  --col-size: 4;
}

.inventory {
  display: flex;
}

.craft-possibility {
  border: 1px solid gray;
  display: flex;
}

.inactive {
  opacity: 0.5;
}

.items {
  width: calc(var(--item-size) * var(--col-size));
  padding-left: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
  float: right;
}

.character {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "pauldrons head gauntlets"
    "cape chest shirt"
    "boots legs ring"
    "trinket mainhand offhand";
  float: left;
}

.item {
  width: var(--item-size);
  height: var(--item-size);
  border: 1px solid black;
  position: relative;
}

.item img {
  width: inherit;
  image-rendering: pixelated;
}

.item p {
  /* Top right text */
  position: absolute;
  top: 18px;
  right: 1px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.chest {
  grid-area: chest;
}

.legs {
  grid-area: legs;
}

.mainhand {
  grid-area: mainhand;
}

.pauldrons {
  grid-area: pauldrons;
}

.head {
  grid-area: head;
}

.gauntlets {
  grid-area: gauntlets;
}

.cape {
  grid-area: cape;
}

.shirt {
  grid-area: shirt;
}

.boots {
  grid-area: boots;
}

.offhand {
  grid-area: offhand;
}

.trinket {
  grid-area: trinket;
}

.ring {
  grid-area: ring;
}

.character div {
  width: var(--item-size);
  height: var(--item-size);
  border: 1px solid red;
}

.container .inventory {
  position: absolute;
}
.container .crafting {
  position: absolute;
}
.container .building {
  position: absolute;
}
