:root {
  --col-size: 4;
}

.craft-possibility {
  border: 1px solid gray;
  display: flex;
}

.inactive {
  opacity: 0.5;
}
.container {
  overflow: hidden;
}

.crafting {
  width: inherit;
  height: inherit;
  overflow: hidden;
}
.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
}

.character {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "pauldrons head gauntlets"
    "cape chest shirt"
    "boots legs ring"
    "trinket mainhand offhand";
  grid-area: character;
}

.inventory {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "character" "items";
}

.item {
  border: 1px solid black;
  position: relative;
  width: 4vw;
  height: 4vw;
}

.item img {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  position: absolute;
}

.item p {
  position: absolute;
  right: 1px;
  padding-top: 40%;
  color: white;
  text-align: left;
  vertical-align: text-bottom;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.character div {
  border: 1px solid red;
}

.items {
  grid-area: items;
}

.chest {
  grid-area: chest;
}

.legs {
  grid-area: legs;
}

.mainhand {
  grid-area: mainhand;
}

.pauldrons {
  grid-area: pauldrons;
}

.head {
  grid-area: head;
}

.gauntlets {
  grid-area: gauntlets;
}

.cape {
  grid-area: cape;
}

.shirt {
  grid-area: shirt;
}

.boots {
  grid-area: boots;
}

.offhand {
  grid-area: offhand;
}

.trinket {
  grid-area: trinket;
}

.ring {
  grid-area: ring;
}

.container .inventory {
  position: absolute;
}
.container .crafting {
  position: absolute;
}
.container .building {
  position: absolute;
}
