.movement {
  display: grid;
  grid-template-areas:
    "up-left up up-right"
    "left . right"
    "down-left down down-right";
  grid-area: movement;
  /* padding-top: 20%; */
}

.actions {
  display: grid;
  grid-template-areas:
    "up-left up up-right"
    "left . right"
    "down-left down down-right";
  grid-area: actions;
}

.up {
  grid-area: up;
  transform: rotate(-90deg) scale(2);
}
.down {
  grid-area: down;
  transform: rotate(90deg) scale(2);
}
.left {
  grid-area: left;
  transform: rotate(-180deg) scale(2);
}
.right {
  grid-area: right;
  transform: scale(2);
}

.up-left {
  grid-area: up-left;
  transform: rotate(-135deg) scale(2);
}
.up-right {
  grid-area: up-right;
  transform: rotate(-45deg) scale(2);
}
.down-left {
  grid-area: down-left;
  transform: rotate(135deg) scale(2);
}
.down-right {
  grid-area: down-right;
  transform: rotate(45deg) scale(2);
}
